@import 'settings';

@mixin xs {
  @media(max-width: #{$break-exsmall}){
    @content;
  }
}

@mixin sm {
  @media(max-width: #{$break-small}){
    @content;
  }
}

@mixin md {
  @media(max-width: #{$break-medium}){
    @content;
  }
}

@mixin lg {
  @media(max-width: #{$break-large}){
    @content;
  }
}

@mixin scroll-down($bgcolor, $color){
  display: flex;
  width: 82px;
  height: 82px;
  background-color: $bgcolor;
  border-radius: 82px;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  position: relative;
  user-select: none;

  @include lg{
    width: 70px;
    height: 70px;
  }

  @include sm{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  i{
    font-size: 41px !important;
    color: $color;
    transition: 0.2s ease-in-out;

    @include lg{
      font-size: 30px !important;
    }
  }
}

@keyframes slideUp{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
}

@keyframes slideDown{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes jump{
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(20%);
  }

  100%{
    transform: translateY(0px);
  }
}

@keyframes fadeIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}