@import 'settings';
@import 'mixins';

footer{
  background-color: #871855;
  max-width: 100vw;
  min-height: 298px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1rem;
  h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    
  }

  .container{

    p{
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      opacity: 1;
      line-height: 20px;
      margin: 5px 0;

      @include md{
        font-size: 16px;
      }

      @include sm{
        font-size: 15px;
        line-height: 25px;
        padding: 0 20px;
      }
      }
    }

  p{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Muli";
    font-weight: 400;
    text-align: center;
    opacity: 0.4;
    @include md{
      font-size: 16px;
    }

    a{
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
    }

    a:hover{
      color: rgba(249, 31, 151, 1);
      font-size: 19px;
     }
  }
}