@import 'settings';
@import 'mixins';
header{
  z-index: 999;
  min-width: 100vw;
  max-width: 100vw;
  padding: 20px 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;

  @include lg{
    padding: 20px 5rem;
  }

  @include sm{
    padding: 20px 20px;
  }
  .brand{
    display: flex;
    align-items: center;

    @include sm{
      width: 170px;
    }

    img{
      width: 100%;
      height: auto;
    }
  }
  nav{ 
    display: flex;
    align-items: center;
    position: relative;
    button{
      border:none;
      background-color: #fff;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      display: none;

      @include md{
        display: block;
      }
    }

    button:focus{
      outline: none;
    }

    button:hover{
      transform: scale(1.2);
    }

    .slide{
      right: -5rem;

      @include sm{
        right: -20px;
      }
    }

    ul{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style-type: none;

      @include md{
        position: absolute;
        flex-direction: column;
        bottom: calc(-100vh - 22px );
        right: Calc(-5rem - 12.5rem);
        padding: 0;
        justify-content: center;
        width: 200px;
        height: calc(100vh + 10rem);
        margin: 0;
        background-color: rgba(255,255,255,0.9);
        z-index: -1;
        transition: all 0.5s ease-in-out;
      }

      .option {
        padding: 0 10px;

        @include md{
          margin: 5px 0;
        }

        a{
          position: relative;
          text-decoration: none;
          font-weight: 700;
          font-size: 18px;
          color: #505050;
        }
        a:after{
          content: '';
          width: 0;
          height: 2px;
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          background-color: $purple;
          transition: all 0.3s ease;
          margin: 0 auto;
        }

        a:hover:after, .set:after{
          width: 100%;
        }

        a:focus{
          outline: none;
        }

        a:hover{
          color: #000;
        }
      }
      .option:last-child{
        a{
          color:$purple;
        }
        a:hover{
          color: $purple;
        }
      }

    }
  }
}