@import 'settings';
@import 'mixins';
@import 'header';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'footer';

*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family: $font;
}

.reg{
  vertical-align: super;
}

.scroll-down{
  box-shadow: 3px 6px 22px -4px rgba(0,0,0,0.75);
}

.scroll-down .material-icons{
  animation-name: 'jump';
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.scroll-down:hover{
  filter: brightness(95%);
  transform: scale(1.1);
  i{
    transform: translate(0,5px);

  }
}

.dots{
  position: fixed;
  right: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 998;
  ul{
    list-style:none;
    margin: none;
    li{
      display: block;
      margin-bottom: 15px;
      width: 15px;
      height: 15px;
      border-radius: 40px;
      background-color: #ccc;
      transition: 0.2s ease-in-out;

      .dot{
        display: block;
        width: 100%;
        height: 100%;
      }

      .dot:focus{
        outline: none;
      }
    }
    li:nth-child(odd):focus-within, .set:nth-child(odd) {
      background-color: $purple;
    }
    li:nth-child(even):focus-within, .set:nth-child(even) {
      background-color: #fff;
    }
    li:hover{
      transform: scale(1.3);
    }


  }
}