@import 'settings';
@import 'mixins';

#third{
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: stretch;
  position: relative;

  @include sm{
    padding-bottom: 8rem;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    @include sm{
      flex-direction: column;
      height: 100%;
    }

    .info{
      text-align: left;
      padding: 0 9rem;
      width: 50%;

      @include lg{
        padding: 0 5rem;
      }

      @include md{
        padding: 0 1rem;
      }

      @include sm{
        text-align: center;
        width: 100%;
      }

      h2{
        font-size: 72px;
        color: $purple;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 20px;

        @include lg{
          font-size: 60px;
        }

        @include md{
          font-size: 50px;
        }
      }
      p{
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        font-weight: 700;
        margin-top:0;

        @include lg{
          font-size: 17px;
        }

        @include md{
          font-size: 15px;
        }
      }

      .scroll-down{
        @include scroll-down($purple,#fff)
      }
    }
    .tiles{
      width: 50%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @include sm{
        width: 100%;
      }
      
      .tile{
        width: Calc(100%/ 3.5);
        height: 240px;
        border-radius: 22px;
        background-color: $purple;
        padding: 5px 15px;
        padding-bottom: 30px;
        margin: 10px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        border: 4px $purple solid;

        box-shadow: 3px 6px 22px -4px rgba(0,0,0,0.75);

        @include lg{
          width: Calc(100%/ 2.5);
        }

        @include md{
          width: Calc(100%/ 2.25);
          margin: 5px;
        }

        @include sm{
          text-align: center;
          width: Calc(100%/ 2.5);
        }

        @include xs{
          width: 100%;
          margin: 20px 20px;
        }

        
        .title{
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;
          font-weight: 900;
          margin-bottom: 0px;
          word-wrap: break-word;

          @include md{
            font-size: 17px;
          }
        }

        .description{
          display: block;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          
          p{
            font-size: 14px;
            line-height: 20px;
            color: $purple;
            font-weight: 700;

            @include md{
              font-size: 12px;
            }
          }
        }

        .hidden{
          max-height: 0;
        }

        .active{
          max-height: 170px;
        }

        .switch{
          position: absolute;
          bottom: -5px;
          right: 15px;
          font-size: 16px;
          color: #ffc6e5;
          font-weight: 700;

          i{
            vertical-align: middle;
            font-size: 18px;
          }
        }
      }

      .expand{
        background-color: #fff;
        // min-height: 300px;

        .title{
          color: $purple;
        }

        .switch p{
          color: $purple;
        }
      }

      .tile:hover{
        background-color: #fff;

        .title{
          color: $purple;
        }

        .switch p{
          color: $purple;
        }
      }
    }
    
  }
}