@import 'settings';
@import 'mixins';

#fourth{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(231, 6, 129, 0.8);
  background-repeat: no-repeat;
  padding-top: 8rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  position: relative;

  @include sm{
    padding-top: 5rem;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    @include sm{
      flex-direction: column;
    }

    .info{
      text-align: left;
      padding-left: 10rem;
      width: 50%;
      color: #fff;
      position: relative;
      display: flex;
      align-content: center;
      flex-direction: column;

      @include lg{
        padding-left: 5rem;
      }

      @include md{
        padding-left: 1rem;
      }

      @include sm{
        width: 100%;
        padding: 0 2rem;
        text-align: center;
      }
      h2{
        font-size: 72px;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 0px;

        @include lg{
          font-size: 68px;
          line-height: 60px;
        }

        @include md{
          font-size: 60px;
        }

        @include xs{
          font-size: 40px;
        }
      }
      h3{
        font-size: 30px;
        color: #ffffff;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 0px;

        @include lg{
          font-size: 28px;
          margin-top:20px;
        }

      }
      p{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 24px;
        color: #ffffff;
        font-weight: 700;

        @include lg{
          font-size: 23px;
        }

        @include md{
          font-size: 20px;
        }
      }

      .buy{
        margin-top: 30px;
        width: 388px;
        height: 73px;
        border-radius: 37px;
        background-color: #ffffff;
        border: 3px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        text-decoration: none;
        color: $purple;
        font-size: 30px;
        font-weight: 700;
        transition: 0.5s;

        @include md{
          width: 300px;
          margin-left: 2rem;
        }

        @include sm{
          margin: 30px auto;
        }

        @include xs{
          width: 250px;
        }
      }

      .buy:hover{
        background-color: rgba(0,0,0,0);
        color: #fff;
        transform: scale(1.15);
      }

      .scroll-down{
        @include scroll-down(#fff,$purple)

      }

      .sideNote{
        margin-top: 20px;
        padding-right: 2rem;
        opacity: 0.8;

        @include sm{
          padding: 0;
        }
        p{
          font-size: 12px;
          color: #fefefe;
          font-weight: 400;
        }
      }
    }

    .regeImg{
      width: 50%;

      @include sm{
        width: 100%;
      }

      .thumbnail{
        width: 100%;
        height: 100%;
        padding: 0px 11rem;
        display: flex;
        justify-content: center;
        align-content: center;

        @include md{
          padding: 0 3rem;
        }

        @include sm{
          padding: 0 10rem;
          margin-top: 20px;
        }

        @include xs{
          padding: 0 5rem;
        }

        img{
          width: 100%;
          height: auto;
          transition:0.5s ;
        }
      }

      .thumbnail img:hover {
        transform: scale(1.1);
        
      }
      
    }
  }
}

#fourth:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:url('../img/bglast.png');
  z-index: -1;
}