@import 'settings';
@import 'mixins';

#second{
  width: 100%;
  min-height: 100vh;
  background: url('../img/bg2.png') 100% 0;
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  position: relative;

  @include sm{
    background-size: cover;
    padding-bottom: 7rem;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    @include sm{
      flex-direction: column;
    }

    .info{
      text-align: left;
      padding: 0 8rem;
      width: 50%;
      color: #fff;

      @include lg{
        padding: 0 5rem;
      }

      @include md{
        padding: 0 2rem;
      }

      @include sm{
        width: 100%;
        text-align: center;
        padding: 0 3rem;
      }

      h2{
        font-size: 72px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 20px;

        @include lg{
          font-size: 50px;
        }

        @include md{
          font-size: 40px;
        }
      }
      p{
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;

        @include lg{
          font-size: 17px;
        }

        @include md{
          font-size: 15px;
        }
      }

      .scroll-down{
        @include scroll-down(#fff,$purple)

      }
    }

    .list{
      width: 50%;

      @include sm{
        width: 100%;
      }
      ul{
        color: #fff;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        padding-right: 4rem;

        @include lg{
          padding-right:2rem;
        }

        @include md{
          padding-right: 1rem;
          justify-content: center;
        }

        li{
          padding-left: 2rem;
          min-height: 100% !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style-type: none;
          position: relative;
          width: calc(100%/3);

          @include lg{
            padding-left: 1rem;
          }

          @include md{
            min-width: Calc(100%/2);
          }

          @include sm{
            width: 100%;
          }
          .thumbnail{
            width: 150px;
            height: 150px;
            border-radius: 86px;
            padding: 40px;
            background-color: #fff;
            box-shadow: 3px 6px 22px -4px rgba(0,0,0,0.75);
            user-select: none;
            

            @include lg{
              width: 100px;
              height: 100px;
              padding: 25px;
            }
            img{
              width: 100%;
              height: auto;
            }
          }
          .num{
            margin-bottom: 0;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 900;
            text-align: center;
          }
          .desc{
            font-size: 16px;
            line-height: 24px;  
            font-weight: 700;
            text-align: center;
          }
        }
        li:after{
          content: '';
          width: 30px;
          height: 30px;
          background-color: #fff;
          border-radius: 20px;
          position: absolute;
          top:60px;
          left:0px;


          @include lg{
            top: 35px;
            left: -6px;
          }

          @include md{
            content: none;
          }
        }
        li:first-child:after{
          content: none;
        }
      }
      
    }
  }
}