@import 'settings';
@import 'mixins';

#first{
  width: 100%;
  min-height: 100vh;
  background: url('../img/bg1.png') 100% 0;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  position: relative;

  @include sm{
    padding-top: 4.5rem;
    padding-bottom: 7rem;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;

    @include sm{
      flex-direction: column;
    }

    .info{
      text-align: left;
      padding: 0 8rem;
      width: 50%;
      animation: 'fadeIn' 1s;
      

      @include lg{
        padding: 0 5rem;
      }

      @include md{
        padding: 0 2rem;
      }

      @include sm{
        width: 100%;
        height: 50%;
        text-align: center;
        margin-bottom: 1rem;
        animation: none;
      }

      h1{
        font-size: 48px;
        color: #505050;
        font-weight: 275;
        margin-top:0;
        margin-bottom: 20px;
        @include lg{
          font-size: 40px;
        }

        @include md{
          font-size: 38px;
        }

        @include sm{
          font-size: 35px;
          margin-bottom: 15px;
        }
        
        
      }

      h2{
        font-size: 72px;
        color: $purple;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 20px;

        @include lg{
          font-size: 50px;
        }

        @include md{
          font-size: 48px;
        }

        @include sm{
          font-size: 38px;
        }

        @include xs{
          font-size: 34px;
        }
      }
      p{
        font-size: 24px;
        color: #000000;
        font-weight: 700;
        margin-top:0;

        @include lg{
          font-size: 16px;
        }

        @include md{
          font-size: 14px;
        }
      }

      .scroll-down{
        @include scroll-down($purple,#fff)

      }
    }

    .RegeImg{
      width: 50%;
      animation: 'fadeIn' 1s;

      @include sm{
        width: 100%;
      }

      .thumbnail{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 11rem;

        @include lg{
          padding: 0 5rem;
        }

        @include md{
          padding: 4rem;
        }

        @include sm{
          padding: 0 8rem;
        }

        img{
          width: 100%;
          height: auto;
          transition: 0.5s;
        }
      }

      .thumbnail img:hover {
        transform: scale(1.1);
        
      }

      
    }
  }
}